/* tabs切换样式 */
/* 选中之后tab的字体和背景颜色 */
.am-tabs-default-bar-tab-active{
	color:white !important;
	background: #108ee9;}
/* 选中tab的下划线 */
.am-tabs-default-bar-underline {
    position: absolute;
    border: 0.01rem #108ee9 solid !important;
    transform: translate3d(0, 0, 0);
}

.am-navbar-left{
    flex: 1 !important;
}
.am-navbar-right{
    flex:0 !important;
}
.am-navbar-title{
    flex:8 !important;
    height:100% !important;
    -ms-flex-align:center !important;
}
.am-search {
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    height: 0.88rem !important;
    padding: 0 !important;
    overflow: hidden !important;
    background-color: white !important;
}