.App {
  text-align: center;
}



.App-grid{
	.am-flexbox {
	    height: 75px !important;
	    .app-grid-item {
	        .image {
	            width: 20px;
	            height: 35px;
	        }
	        .text {
	            text-align: center;
	            font-size: 15px;
	            padding-top: 5px;
	        }
	    }
	}
}

